<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<bean class="com.integral.system.user.dao.impl.UserDao" id="UserDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean class="com.integral.system.role.dao.impl.UserRoleDao" id="UserRoleDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean class="com.integral.system.role.dao.impl.RoleDao" id="RoleDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean class="com.integral.system.role.dao.impl.RoleMenuDao" id="RoleMenuDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean class="com.integral.system.menu.dao.impl.MenuDao" id="MenuDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean class="com.integral.common.dao.impl.BaseDao" id="BaseDao" scope="prototype">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean class="com.integral.system.right.dao.impl.RightDao" id="RightDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean class="com.integral.system.menu.dao.impl.ButtonDao" id="ButtonDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean class="com.integral.system.right.dao.impl.AuthorizeDao" id="AuthorizeDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean class="com.integral.exchange.gifts.dao.impl.GiftDao" id="GiftDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!-- 数据字典 -->
	<bean class="com.integral.system.codelist.dao.impl.CodeListDao" id="CodeListDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!-- 数据字典数据 -->
	<bean class="com.integral.system.codelist.dao.impl.CodeListDataDao" id="CodeListDataDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!-- 家庭管理 -->
	<bean class="com.integral.family.manage.dao.impl.FamilyInfoDAO" id="FamilyInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!-- 家庭成员管理 -->
	<bean class="com.integral.family.member.dao.impl.FamilyMemberDAO" id="FamilyMemberDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!-- 家庭关系管理 -->
	<bean class="com.integral.family.relationship.dao.impl.FamilyRelationDAO" id="FamilyRelationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!-- 系统请求处理 -->
	<bean class="com.integral.system.invitation.dao.impl.SystemInviteProcessDAO" id="SystemInviteProcessDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="MessageDao"
		class="com.integral.system.message.dao.impl.SystemMessageDao">
	<property name="sessionFactory">
		<ref bean="sessionFactory" />
	</property>
	</bean>
</beans>