<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC 
      "-//Apache Software Foundation//DTD Struts Configuration 2.0//EN"
      "http://struts.apache.org/dtds/struts-2.0.dtd">
<struts>
	<package name="menu" namespace="/menu" extends="struts-default">
		<!-- 切记：action name不能是一样的，否则会进不了Action -->
		<!--
		<action name="childModule" class="com.integral.system.menu.action.MenuAction" method="showChildMenu">
			 <result name="success">/jsp/system/menu/menu.jsp</result>
			 <result name="input">/index.jsp</result>
		</action>
		-->
		<action name="rightChildModule" class="com.integral.system.menu.action.MenuAction" method="showChildRightMenu">
			 <result name="success">/jsp/system/menu/menu.jsp</result>
			 <result name="input">/index.jsp</result>
		</action>
		<action name="rootModule" class="com.integral.system.menu.action.MenuAction" method="showRootMenu">
			 <result name="success">/jsp/system/menu/menu.jsp</result>
			 <result name="input">/index.jsp</result>
		</action>
		<action name="menuManage" class="com.integral.system.menu.action.MenuAction" method="menuList">
			 <result name="success">/jsp/system/menu/menu.jsp</result>
			 <result name="input">/index.jsp</result>
		</action>
		<action name="beginMenuManage" class="com.integral.system.menu.action.MenuAction" method="begin">
			 <result name="success">/jsp/system/menu/menu.jsp</result>
			 <result name="input">/index.jsp</result>
		</action>
		<action name="menuComboTree" class="com.integral.system.menu.action.MenuAction" method="menuComboTree">
			 <result name="success">/jsp/system/menu/menu.jsp</result>
			 <result name="input">/index.jsp</result>
		</action>
		<action name="menuManageAdd" class="com.integral.system.menu.action.MenuAction" method="addMenu">
			 <result name="success">/jsp/system/menu/menu.jsp</result>
			 <result name="input">/index.jsp</result>
		</action>
		<action name="menuManageDelete" class="com.integral.system.menu.action.MenuAction" method="deleteMenu">
			 <result name="success">/jsp/system/menu/menu.jsp</result>
			 <result name="input">/index.jsp</result>
		</action>
		<action name="menuManageEdit" class="com.integral.system.menu.action.MenuAction" method="editMenu">
			 <result name="success">/jsp/system/menu/menu.jsp</result>
			 <result name="input">/index.jsp</result>
		</action>
		<action name="findMenuId" class="com.integral.system.menu.action.MenuAction" method="findMenuId">
			 <result name="success">/jsp/system/menu/menu.jsp</result>
			 <result name="input">/index.jsp</result>
		</action>
	</package>
</struts>