<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<!-- 菜单管理 -->
	<bean class="com.integral.system.menu.action.MenuAction" id="menuAction">
		<property name="menuService" ref="menuService"></property>
		<property name="menuUtil" ref="menuUtil"></property>
	</bean>
	<!-- 按钮权限管理 -->
	<bean class="com.integral.system.right.action.RightAction" id="rightAction">
		<property name="rightService" ref="rightService"></property>
	</bean>
	<!-- 用户管理 -->
	<bean class="com.integral.system.user.action.UserAction">
		<property name="userService" ref="userService"></property>
	</bean>
	<!-- 角色管理 -->
	<bean class="com.integral.system.role.action.RoleAction">
		<property name="roleService" ref="roleService"></property>
	</bean>
	<!-- 授权管理 -->
	<bean class="com.integral.system.right.action.AuthorizeAction">
		<property name="authorizeService" ref="authorizeService"></property>
		<property name="menuService" ref="menuService"></property>
		<property name="menuUtil" ref="menuUtil"></property>
		<property name="roleMenuService" ref="roleMenuService"></property>
		<property name="userService" ref="userService"></property>
		<property name="roleService" ref="roleService"></property>
		<!-- 事务控制 -->
		<property name="transactionManager" ref="transactionManager"></property>
	</bean>
</beans>